%li.chat-message
  .chat-message__header
    %p.chat-message__name= message.user.name
    %p.chat-message__time= message.format_posted_time
  %p.chat-message__body= message.body
  %p.chat-message__body
    = image_tag message.image if message.image?
