.chat
  .chat-side
    .chat-user
      %h5 groot
      .chat-user__actions
        %a{class: "chat-user__action", :href => "/"}
          %i{class: "fa fa-pencil-square-o"}
        %a{class: "chat-user__action", :href => "/"}
          %i{class: "fa fa-cog"}
    %ul{class: "chat-groups"}
      %li{class: "chat-group"}
        %a{class: "chat-gropu__link", href: "/"}
          %p{class: "chat-group__name"}freaking gardians of galaxy
          %p{class: "chat-group__message"}i am groot

  .chat-main
    .chat-header
    .chat-body
    .chat-footer
